---
import MySiteLayout from '../layouts/Layout.astro';
---
<MySiteLayout title="Home Page">
    <main>
      <section id="adopciones">
        <h1>Adopciones</h1>
        <p>Aquí puedes ver a todos los animalitos disponibles para adopción.</p>
      </section>
    </main>
</MySiteLayout>