---
import MySiteLayout from '../layouts/Layout.astro';
---
<MySiteLayout title="Home Page">
    <main>
      <section id="donaciones">
        <h1>Donaciones</h1>
        <h2 id="recibimos-donaciones">Recibimos donaciones de:</h2>
        <p>Describa aquí de dónde recibimos donaciones...</p>
        <h2 id="donamos-a">Donamos a:</h2>
        <p>Describa aquí a qué organizaciones apoyamos...</p>
        <h2 id="quienes-donan">¿Quieres donar?</h2>
        <p>Aquí describe cómo pueden donar las personas interesadas...</p>
      </section>
    </main>
</MySiteLayout>