---
import MySiteLayout from '../layouts/Layout.astro';
---
<MySiteLayout title="Home Page">
    <main>
      <section id="quienes-somos">
        <h1>Quienes Somos</h1>
        <p>Breve descripcion sobre la fundacion, quienes somos, nuestra misión y visión.</p>
        <h2 id="mision">Misión</h2>
        <p>Descripción de la misión de la fundación aquí...</p>
        <h2 id="vision">Visión</h2>
        <p>Descripción de la visión de la fundación aquí...</p>
      </section>
    </main>
</MySiteLayout>