---
import MySiteLayout from '../layouts/Layout.astro';
---
<MySiteLayout title="Home Page">
    <main>
      <section id="profesionales-voluntarios">
        <h1>Profesionales Voluntarios</h1>
        <p>Conoce nuestros profesionales voluntarios y cómo se puede colaborar.</p>
      </section>
    </main>
</MySiteLayout>