---
import MySiteLayout from '../layouts/Layout.astro';
---
<MySiteLayout title="Home Page">
    <main>
      <section id="voluntarios">
        <h1>Voluntarios</h1>
        <p>Conoce cómo ser parte del equipo de voluntarios.</p>
      </section>
    </main>
</MySiteLayout>